<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center"
>
<br>
  <div class="container">
    <div class="row">
      <div class="col">
        <b><a href="/recipients/">Recipients</a></b>
        <ul>
          <li><a href="/women/">Women</a></li>
          <li><a href="/parents/">Parents</a></li>
          <li><a href="/mom/">Mom</a></li>
          <li><a href="/men/">Men</a></li>
          <li><a href="/kids-teens/">Kids &amp; Teens</a></li>
          <li><a href="/friends/">Friends</a></li>
          <li><a href="/dad/">Dad</a></li>
          <li><a href="/couples/">Couples</a></li>
          <li><a href="/anyone/">Anyone</a></li>
        </ul>
          </div>
          <div class="col">
            <b><a href="/occasions/">Occasions</a></b><br>
        <ul>
          <li><a href="/wedding/">Wedding</a></li>
          <li><a href="/valentine/">Valentine</a></li>
          <li><a href="/housewarming/">Housewarming</a></li>
          <li><a href="/halloween/">Halloween</a></li>
          <li><a href="/graduation/">Graduation</a></li>
          <li><a href="/christmas/">Christmas</a></li>
          <li><a href="/birthday/">Birthday</a></li>
          <li><a href="/anniversary/">Anniversary</a></li>
        </ul>
      </div>
      <div class="col">
        <b><a href="/interests/">Interests</a></b><br>
        <ul>
          <li><a href="/food-drink/">Food + Drink</a></li>
          <li><a href="/sports/">Outdoors + Sports</a></li>
          <li><a href="/animals/">Animal Lovers</a></li>
          <li><a href="/travel/">Travel</a></li>
          <li><a href="/selfcare/">Selfcare</a></li>
          <li><a href="/gift-baskets/">Gift Baskets</a></li>
          <li><a href="/lifestyle/">Lifestyle</a></li>
        </ul>
      </div>
      <div class="col">
        <b><a href="/blog/">Blog</a></b><br>
        <ul>
          <li><a href="/relationship/">Relationship</a></li>
          <li><a href="/parenting/">Parenting</a></li>
          <li><a href="/holiday/">Holiday</a></li>
          <li><a href="/family/">Family</a></li>
        </ul>
      </div>
      <div class="col">
        <b>Company</b><br>
        <ul>
          <li><a href="/about/">About Us</a></li>
          <li><a href="/privacy-policy/" target="_blank">Privacy Policy</a></li>
          <li><a href="/sitemap.xml">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer_grid">
      <div class="copyright">
          <p><b>
            {{ '©' }}
            <time>{{ 'now' | date: '%Y' }}</time>
            <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
            {% if site.data.locales[include.lang].copyright.brief %}
              <span
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="{{ site.data.locales[include.lang].copyright.verbose }}"
              >
                {{- site.data.locales[include.lang].copyright.brief -}}
              </span>
            {% endif %}
          </b></p><br>
      </div>
    </div>
  </div>

  <!--p>
    {{ '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% endif %}
  </p>

  <p>
    {%- capture _platform -%}
      <a href="https://jekyllrb.com" target="_blank" rel="noopener">Jekyll</a>
    {%- endcapture -%}

    {%- capture _theme -%}
      <a href="https://github.com/cotes2020/jekyll-theme-chirpy" target="_blank" rel="noopener">Chirpy</a>
    {%- endcapture -%}

    {{ site.data.locales[include.lang].meta | replace: ':PLATFORM', _platform | replace: ':THEME', _theme }}
  </p-->
</footer>
